@page "/my-profile-edittt"
@attribute [Authorize]

@inject ISkillService skillService
@inject IRoleService roleService
@inject IFieldService fieldService
@inject ILanguageService languageService

@using Blazored.Typeahead


<div class="container-fluid">
    <div class="card my-1">
        <div class="card-header">
            <div class="row">
                <div class="col-md-5">
                    <h3><label>Name: </label> </h3>
                </div>
                <div class="col">
                    <input class="form-control form-control-lg" type="text" placeholder="Mitarbeiter A">
                </div>
            </div>
        </div>

    </div>

    <!--Beschreibung Beginn-->
    <div class="card mb-3">
        <div class="card-header">
            <h4>
                Beschreibung
            </h4>
        </div>
        <div class="row g-0">
            <div class="col-md-4">
                <img src="\css\Profil-black.png" alt="Profilbild" class="rounded" style="margin:1em; width:70%">
                <button type="submit" class="btn btn-secondary" style="margin:1em;"> Neues Bild </button>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Fabian Günaydin</h5>
                    <div class="form-group">

                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10">
Geboren 1969
Eintritt in das Unternehmen 2004
Mitglied der Geschäftsführung seit 2016
Verantwortungsbereich: 
Vertriebsgeschäftsführung

                        </textarea>
                    </div>
                    <div class="form-row">
                        <div class="form-group mx-sm-3 mb-2 col-md-2">
                            <label for="RCLevel"><b>Rate Card Level</b></label>
                            <input class="form-control" type="number" placeholder="5" id="RCLevel" max="7" min="1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Beschreibung Ende-->
    <!--Erste Reihe Beginn-->
    <div class="row row-cols-1 row-cols-md-2 g-4">

        <!--Rollen Beginn-->
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Rollen

                        @if (RolleCollapsed)
                        {
                            <svg @onclick="@RolleToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                 height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>

                        }


                        @if (!RolleCollapsed)
                        {
                            <svg @onclick="@RolleToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                 height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>

                        }
                    </h4>
                </div>
                @if (!RolleCollapsed)
                {
                    <div class="card-body scroll h-100">
                        <BlazoredTypeahead SearchMethod="SearchRoles"
                                           @bind-Values="SelectedRoles"
                                           EnableDropDown="true">
                            <SelectedTemplate>
                                @context.Name
                            </SelectedTemplate>
                            <ResultTemplate>
                                @context.Name
                            </ResultTemplate>
                        </BlazoredTypeahead>
                        <p>
                            <label>
                                <input type="checkbox" /> <b> Software Developer</b>
                            </label>
                        </p>
                        <p>

                            <label>
                                <input type="checkbox" /> <b> Product Owner</b>
                            </label>

                        </p>
                        <p>
                            <label>
                                <input type="checkbox" /> <b>UI/UX-Designer</b>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" /> <b> Agile Coach</b>
                            </label>
                        </p>

                    </div>
                }

            </div>
        </div>
        <!--Rollen Ende-->
        <!--Hardskills Beginn-->
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Hardskills
                        @if (HardskillsCollapsed)
                        {
                            <svg @onclick="@HardskillsToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>

                        }
                        @if (!HardskillsCollapsed)
                        {
                            <svg @onclick="@HardskillsToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }
                    </h4>
                </div>

                @if (!HardskillsCollapsed)
                {
                    <div class="card-body scroll h-100">
                        <BlazoredTypeahead SearchMethod="SearchHardskills"
                                           @bind-Values="SelectedHardskills"
                                           EnableDropDown="true">
                            <SelectedTemplate>
                                @context.Name
                            </SelectedTemplate>
                            <ResultTemplate>
                                @context.Name
                            </ResultTemplate>
                        </BlazoredTypeahead>

                        <b><label for="customRange2" class="form-label">C  <input type="text" id="textInput1" value="" style="width: 40px;" readonly></label></b>
                        <div class="slidecontainer">
                            <input type="range" class="custom-range" min="0" max="5" id="customRange1" onchange="updateTextInput1(this.value);">

                        </div>
                        <p></p>
                        <b><label for="customRange2" class="form-label">C++  <input type="text" id="textInput2" value="" style="width: 40px;" readonly></label></b>
                        <input type="range" class="custom-range" min="0" max="5" id="customRange2" onchange="updateTextInput2(this.value);">


                        <p></p>
                        <b><label for="customRange2" class="form-label">Angular  <input type="text" id="textInput3" value="" style="width: 40px;" readonly></label></b>
                        <input type="range" class="custom-range" min="0" max="5" id="customRange3" onchange="updateTextInput3(this.value);">


                        <p></p>
                        <b><label for="customRange2" class="form-label">Jasmine  <input type="text" id="textInput4" value="" style="width: 40px;" readonly></label></b>
                        <input type="range" class="custom-range" min="0" max="5" id="customRange4" onchange="updateTextInput4(this.value);">

                    </div>
                }
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Softskills
                        @if (SoftskillsCollapsed)
                        {
                            <svg @onclick="@SoftskillsToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>

                        }
                        @if (!SoftskillsCollapsed)
                        {
                            <svg @onclick="@SoftskillsToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }
                    </h4>
                </div>

                @if (!SoftskillsCollapsed)
                {

                    <div class="card-body scroll h-100">
                        <BlazoredTypeahead SearchMethod="SearchSoftskills"
                                           @bind-Values="SelectedSoftskills"
                                           EnableDropDown="true">
                            <SelectedTemplate>
                                @context.Name
                            </SelectedTemplate>
                            <ResultTemplate>
                                @context.Name
                            </ResultTemplate>
                        </BlazoredTypeahead>
                        <p>
                            <label>
                                <input type="checkbox" /> <b> Interdisziplinärer Sachverstand</b>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" /> <b>  Kommunikationsfähigkeit </b>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" /><b> Soziale Kompetenz</b>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" /> <b> Problemlösungsfähigkeit</b>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" /> <b> Überzeugungskraft</b>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" /> <b> Methodische und strukturierte Vorgehensweise</b>
                            </label>
                        </p>

                    </div>
                }
            </div>
        </div>
        <br />
        <br />

        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Tätigkeitsfelder
                        @if (BranchenwissenCollapsed)
                        {
                            <svg @onclick="@BranchenwissenToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>
                        }
                        @if (!BranchenwissenCollapsed)
                        {
                            <svg @onclick="@BranchenwissenToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }
                    </h4>
                </div>

                @if (!BranchenwissenCollapsed)
                {

                    <div class="card-body scroll h-100">
                        <BlazoredTypeahead SearchMethod="SearchFields"
                                           @bind-Values="SelectedFields"
                                           EnableDropDown="true">
                            <SelectedTemplate>
                                @context.Name
                            </SelectedTemplate>
                            <ResultTemplate>
                                @context.Name
                            </ResultTemplate>
                        </BlazoredTypeahead>
                        <b><label for="Branche1">Tätigkeitsfeld 1</label></b>
                        <input type="text" class="form-control" style="width: 400px;" placeholder="Architektur/Bau/Immobilien" /><p></p>
                        <b><label for="Branche1">Tätigkeitsfeld 2</label></b>
                        <input type="text" class="form-control" style="width: 400px;" placeholder="Automobil" /><p></p>
                        <b><label for="Branche1">Tätigkeitsfeld 3</label></b>
                        <input type="text" class="form-control" style="width: 400px;" placeholder="Banken/Finanzsektor/Versicherung" /><p></p>
                    </div>
                }
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Sprachen
                        @if (SprachenCollapsed)
                        {
                            <svg @onclick="@SprachenToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>
                        }
                        @if (!SprachenCollapsed)
                        {
                            <svg @onclick="@SprachenToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }
                    </h4>
                </div>

                @if (!SprachenCollapsed)
                {

                    <div class="card-body scroll h-100">
                        <BlazoredTypeahead SearchMethod="SearchLanguages"
                                           @bind-Values="SelectedLanguages"
                                           EnableDropDown="true">
                            <SelectedTemplate>
                                @context.Name
                            </SelectedTemplate>
                            <ResultTemplate>
                                @context.Name
                            </ResultTemplate>
                        </BlazoredTypeahead>
                        <b><label for="customRange2" class="form-label">Deutsch  <input type="text" id="textInput5" value="" style="width: 40px;" readonly></label></b>
                        <div class="slidecontainer">
                            <input type="range" class="custom-range" min="0" max="5" id="customRange5" onchange="updateTextInput5(this.value);">

                        </div>
                        <p></p>
                        <b><label for="customRange2" class="form-label">Englisch  <input type="text" id="textInput6" value="" style="width: 40px;" readonly></label></b>
                        <input type="range" class="custom-range" min="0" max="5" id="customRange6" onchange="updateTextInput6(this.value);">


                        <p></p>
                        <b><label for="customRange2" class="form-label">Türkisch  <input type="text" id="textInput7" value="" style="width: 40px;" readonly></label></b>
                        <input type="range" class="custom-range" min="0" max="5" id="customRange7" onchange="updateTextInput7(this.value);">


                        <p></p>
                        <b><label for="customRange2" class="form-label">Italienisch  <input type="text" id="textInput8" value="" style="width: 40px;" readonly></label></b>
                        <input type="range" class="custom-range" min="0" max="5" id="customRange8" onchange="updateTextInput8(this.value);">

                        <p></p>
                        <b><label for="customRange2" class="form-label">Russisch  <input type="text" id="textInput9" value="" style="width: 40px;" readonly></label></b>
                        <input type="range" class="custom-range" min="0" max="5" id="customRange9" onchange="updateTextInput9(this.value);">


                    </div>
                }
            </div>
        </div>
        <br />
        <br />

        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Projekte
                        @if (ProjektCollapsed)
                        {
                            <svg @onclick="@ProjektToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                 height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>
                        }
                        @if (!ProjektCollapsed)
                        {
                            <svg @onclick="@ProjektToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                 height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }
                    </h4>
                </div>

                @if (!ProjektCollapsed)
                {
                    <div class="card-body scroll h-100">
                        <!-- Editable table -->

                        <div id="table" class="table-editable">
                            <span class="table-add float-right mb-3 mr-2">
                                <a href="#!" class="text-success"><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a>
                            </span>
                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                <thead>
                                    <tr>
                                        <th class="text-center">Projekt</th>
                                        <th class="text-center">Tätigkeit</th>
                                        <th class="text-center">
                                            <button type="button" class="btn btn-primary"><span class="oi oi-plus"></span></button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="pt-3-half" contenteditable="true">Siemens</td>
                                        <td class="pt-3-half" contenteditable="true">Projektleiter</td>


                                        <td>
                                            <span class="table-remove">
                                                <a href="" class="btn btn-secondary" type="submit">
                                                    Löschen
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                    <!-- This is our clonable table line -->
                                    <tr>
                                        <td class="pt-3-half" contenteditable="true">BMW</td>
                                        <td class="pt-3-half" contenteditable="true">UI-Design</td>


                                        <td>
                                            <span class="table-remove">
                                                <a href="" class="btn btn-secondary" type="submit">
                                                    Löschen
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                    <!-- This is our clonable table line -->
                                    <tr>
                                        <td class="pt-3-half" contenteditable="true">Xitaso</td>
                                        <td class="pt-3-half" contenteditable="true">SQL-Server</td>


                                        <td>
                                            <a href="" class="btn btn-secondary" type="submit">
                                                Löschen
                                            </a>
                                        </td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</div>
<a href="my-profile" class="btn btn-secondary" style="float: right; margin: 3em 1em"> Bestätigen</a>
<a href="my-profile" class="btn btn-secondary" style="float: right; margin: 3em 1em"> Abbrechen</a>


<script suppress-error="BL9992">
  function updateTextInput1(val) {
          document.getElementById('textInput1').value=val;
        }
     function updateTextInput2(val) {
          document.getElementById('textInput2').value=val;
        }
     function updateTextInput3(val) {
          document.getElementById('textInput3').value=val;
        }
     function updateTextInput4(val) {
          document.getElementById('textInput4').value=val;
        }
     function updateTextInput5(val) {
          document.getElementById('textInput5').value=val;
    }
     function updateTextInput6(val) {
          document.getElementById('textInput6').value=val;
    }
     function updateTextInput7(val) {
          document.getElementById('textInput7').value=val;
    }
     function updateTextInput8(val) {
          document.getElementById('textInput8').value=val;
        }
     function updateTextInput9(val) {
          document.getElementById('textInput9').value=val;
        }



</script>


