@page "/my-profile-alt"
@attribute [Authorize]


<div class="container-fluid">
    <div class="card my-1">
        <div class="card-header text-center">
            <h3>Profilübersicht von @employee.FirstName @employee.LastName </h3>
        </div>
    </div>
    <!--Beschreibung Beginn-->
    <div class="card mb-3">
        <div class="card-header">
            <h4>
                Beschreibung
            </h4>
        </div>
        <div class="row g-0">
            <div class="col-md-4">
                <img src =@employee.Image alt="Profilbild" class="rounded" style="margin:1em; width:70%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@employee.FirstName @employee.LastName</h5>
                    <p class="card-text">
                        @employee.Description

                        </p>
                        <p class="card-text"><b>Rate Card Level: @employee.RCL</b></p>
                    </div>
                </div>
            </div>
        </div>
        <!--Beschreibung Ende-->
        <!--Erste Reihe Beginn-->
        <div class="row row-cols-1 row-cols-md-2 g-4">

            <!--Rollen Beginn-->
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            Rollen
                            @if (RolleCollapsed)
                        {
                            <svg @onclick="@RolleToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                 height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>

                        }

                            @if (!RolleCollapsed)
                        {
                            <svg @onclick="@RolleToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                 height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>

                        }
                        </h4>
                    </div>

                    @if (!RolleCollapsed)
                {
                    <div class="card-body scroll h-100">
                        @foreach (Role rolle in rollen){
                        <p>@rolle.Name</p>
                    }
                    </div>
                }

                </div>
            </div>
            <!--Rollen Ende-->
            <!--Hardskills Beginn-->
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            Hardskills

                            @if (HardskillsCollapsed)
                        {
                            <svg @onclick="@HardskillsToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>

                        }

                            @if (!HardskillsCollapsed)
                        {
                            <svg @onclick="@HardskillsToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }

                        </h4>
                    </div>

                    @if (!HardskillsCollapsed)
                {

                <div class="card-body scroll h-100">
                    @foreach (Skill skill in hardskills){
                    <p> @skill.Name </p>
                    <div class="progress mb-3" style="height:15px">
                        <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                             aria-valuemax="100" style=@skill.LevelNr>
                            @skill.Level
                        </div>
                    </div>
                    }
                </div>
                }

                </div>
            </div>
            <!--Hardskills Ende-->
        </div>
        <!--Erste Reihe Ende-->

        <br />
        <br />

        <!--Zweite Reihe Beginn-->
        <div class="row row-cols-1 row-cols-md-2 g-4">

            <!--Softskills Anfanfg-->
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            Softskills

                            @if (SoftskillsCollapsed)
                        {
                            <svg @onclick="@SoftskillsToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>

                        }

                            @if (!SoftskillsCollapsed)
                        {
                            <svg @onclick="@SoftskillsToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }

                        </h4>
                    </div>

                    @if (!SoftskillsCollapsed)
                {

                    <div class="card-body scroll h-100">
                        @foreach(Skill skill in softskills){
                        <p>@skill.Name</p>
                        }

                    </div>
                }

                </div>
            </div>
            <!--Softskills Ende-->

            <br />
            <br />

            <!--Branchenwissen Anfang-->
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            Tätigkeitsfelder

                            @if (BranchenwissenCollapsed)
                        {
                            <svg @onclick="@BranchenwissenToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>
                        }

                            @if (!BranchenwissenCollapsed)
                        {
                            <svg @onclick="@BranchenwissenToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }

                        </h4>
                    </div>

                    @if (!BranchenwissenCollapsed)
                {

                    <div class="card-body scroll h-100">
                        @foreach(Field feld in branchenwissen){
                        <p>@feld.Name</p>
                        }
                    </div>
                }

                </div>
            </div>
            <!--Branchenwissen Ende-->
        </div>
        <!--Zweite Reihe Ende-->

        <br />
        <br />

        <!--Dritte Reihe Beginn-->
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <!--Sprachen Anfang-->
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            Sprachen

                            @if (SprachenCollapsed)
                        {
                            <svg @onclick="@SprachenToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>
                        }

                            @if (!SprachenCollapsed)
                        {
                            <svg @onclick="@SprachenToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }
                        </h4>
                    </div>

                    @if (!SprachenCollapsed)
                {

                    <div class="card-body scroll h-100">
                        @foreach(Language sprache in sprachen){
                        <p> @sprache.Name </p>
                        <div class="progress mb-3" style="height:15px">
                            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100" style="width:75%">
                                @sprache.Level
                            </div>
                        </div>
                        }
                    </div>
                }

                </div>
            </div>
            <!--Sprachen Ende-->
            <!--Projekte Anfang-->
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            Projekte

                            @if (ProjektCollapsed)
                        {
                            <svg @onclick="@ProjektToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                 height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>
                        }

                            @if (!ProjektCollapsed)
                        {
                            <svg @onclick="@ProjektToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                 height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }
                        </h4>
                    </div>

                    @if (!ProjektCollapsed)
                {
                    <div class="card-body scroll h-100">
                        <table class="table table-hover">
                            <tr>
                                <th>Projektname</th>
                                <th>Tätigkeit</th>
                                <th></th>
                            </tr>
                            @foreach (Project project in projekte){
                            <tr>
                                <td>@project.Title</td>
                                <td><ul>@foreach (string purpose in project.Purpose) { <li>@purpose</li>}</ul></td>
                                <td><a class="text-secondary" href="project">Details</a></td>
                            </tr>
                            }
                        </table>
                    </div>
                }

                </div>
            </div>
            <!--Projekte Ende-->
        </div>
        <!--Dritte Reihe Ende-->
    </div>
    <a href="my-profile-edittt" class="btn btn-secondary" style="float: right; margin: 3em 1em"> Bearbeiten</a>



    @code {

        // Wertdefinition !!!Muss ausgetauscht werden mit Schnittstelle zum Backend!!!


        Employee employee = new Employee() {FirstName = "Max",Image = "\\kappa2.jpg", LastName = "Mayer", Description = "Geboren 1969 Eintritt in das Unternehmen 2004 Mitglied der Geschäftsführung seit 2016 Verantwortungsbereich: Vertriebsgeschäftsführung", RCL = 5};
        IEnumerable<Role>
            rollen = new List<Role>
                (){new Role() { Name = "Software Developer" }, new Role() { Name = "Product Owner" }, new Role() { Name = "UI/UX-Designer" }, new Role() { Name = "Agile Coach" }};
        IEnumerable<Skill>
            hardskills = new List<Skill>
                (){new Skill() {Name = "C", Level = "lvl1", LevelNr = "width:25%"}, new Skill(){Name = "C++", Level = "lvl4", LevelNr = "width:100%" }, new Skill(){Name = "Angular", Level = "lvl3", LevelNr = "width:75%" }, new Skill(){Name = "Jasmine", Level = "lvl2", LevelNr = "width:50%" } };
        IEnumerable<Skill>
            softskills = new List<Skill>
                (){new Skill() {Name = "Interdisziplinärer Sachverstand"}, new Skill() {Name = "Kommunikationsfähigkeit"}, new Skill() {Name = "Soziale Kompetenz"}, new Skill() {Name = "Problemlösungsfähigkeit"}};
        IEnumerable<Field>
            branchenwissen = new List<Field>
                (){new Field() {Name = "Architektur/Bau/Immobilien"}, new Field() {Name = "Automobil"}, new Field() {Name = "Banken/Finanzsektor/Versicherung"}};
        IEnumerable<Language>
            sprachen = new List<Language>
                (){new Language() {Name = "Deutsch", Level = "lvl3"}, new Language() {Name = "Englisch", Level = "lvl3"}, new Language() {Name = "Türkisch", Level = "lvl3"}, new Language() {Name = "Italienisch", Level = "lvl3"}, new Language() {Name = "Spanisch", Level = "lvl3"}, new Language() {Name = "Russisch", Level = "lvl3"}};
        IEnumerable<Project>
            projekte = new List<Project>
                (){new Project() {Title = "Siemens", Purpose = new List<string>() { "Projektleiter" } }, new Project() {Title = "Xitaso", Purpose = new List<string>() { "UI-Design" } }, new Project() {Title = "BMW", Purpose = new List<string>() { "SQL-Server" } } };

        // Wertdefinition !!!Muss ausgetauscht werden mit Schnittstelle zum Backend!!!

        public bool HardskillsCollapsed { get; set; }
        public bool SoftskillsCollapsed { get; set; }
        public bool RolleCollapsed { get; set; }
        public bool BranchenwissenCollapsed { get; set; }
        public bool SprachenCollapsed { get; set; }
        public bool ProjektCollapsed { get; set; }
        void RolleToggle()
        {
            RolleCollapsed = !RolleCollapsed;
        }
        void HardskillsToggle()
        {
            HardskillsCollapsed = !HardskillsCollapsed;
        }
        void SoftskillsToggle()
        {
            SoftskillsCollapsed = !SoftskillsCollapsed;
        }
        void BranchenwissenToggle()
        {
            BranchenwissenCollapsed = !BranchenwissenCollapsed;
        }
        void SprachenToggle()
        {
            SprachenCollapsed = !SprachenCollapsed;
        }
        void ProjektToggle()
        {
            ProjektCollapsed = !ProjektCollapsed;
        }
    }
