@page "/"
@page "/my-profile"
@attribute [Authorize]

<div class="container-fluid">
    <div class="card my-1">
        <div class="card-header text-center">
            <h3>Profil Übersicht von Mitarbeiter A</h3>
        </div>
    </div>
  
    <!--Beschreibung Beginn-->
    <div class="card mb-3">
        <div class="card-header">
            <h4>
                Beschreibung
            </h4>
        </div>
        <div class="row g-0">
            <div class="col-md-4">
                <img src="\css\Profil-black.png" alt="Profilbild" class="rounded" style="margin:1em; width:70%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Mitarbeiter XY</h5>
                    <p class="card-text">
                        Geboren 1969<br />
                        Eintritt in das Unternehmen 2004<br />
                        Mitglied der Geschäftsführung seit 2016
                        <br />
                        Verantwortungsbereich: <br />
                        Vertriebsgeschäftsführung
                    </p>
                    <p class="card-text"><b>Rate Card Level: 5</b></p>
                </div>
            </div>
        </div>
    </div>
    <!--Beschreibung Ende-->
    <!--Erste Reihe Beginn-->
    <div class="row row-cols-1 row-cols-md-2 g-4">

        <!--Rollen Beginn-->
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Rollen
                        @if (RolleCollapsed)
                        {
                            <svg @onclick="@RolleToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                 height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>

                        }

                        @if (!RolleCollapsed)
                        {
                            <svg @onclick="@RolleToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                 height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>

                        }
                    </h4>
                </div>

                @if (!RolleCollapsed)
                {
                    <div class="card-body scroll h-100">
                        <p>
                            Software Developer
                        </p>
                        <p>
                            Product Owner
                        </p>
                        <p>
                            UI/UX-Designer
                        </p>
                        <p>
                            Agile Coach
                        </p>
                    </div>
                }

            </div>
        </div>
        <!--Rollen Ende-->
        <!--Hardskills Beginn-->
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Hardskills

                        @if (HardskillsCollapsed)
                        {
                            <svg @onclick="@HardskillsToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>

                        }

                        @if (!HardskillsCollapsed)
                        {
                            <svg @onclick="@HardskillsToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }

                    </h4>
                </div>

                @if (!HardskillsCollapsed)
                {

                    <div class="card-body scroll h-100">
                        <p> C </p>
                        <div class="progress mb-3" style="height:15px">
                            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                 aria-valuemax="100" style="width:25%">
                                lvl1
                            </div>
                        </div>

                        <p> C++</p>
                        <div class="progress mb-3" style="height:15px">
                            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width:100%">
                                lvl4
                            </div>
                        </div>

                        <p> Angular</p>
                        <div class="progress mb-3" style="height:15px">
                            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100" style="width:75%">
                                lvl3
                            </div>
                        </div>

                        <p> Jasmine</p>
                        <div class="progress mb-3" style="height:15px">
                            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                 aria-valuemax="100" style="width:50%">
                                lvl2
                            </div>
                        </div>

                    </div>
                }

            </div>
        </div>
        <!--Hardskills Ende-->
    </div>
    <!--Erste Reihe Ende-->

    <br />
    <br />

    <!--Zweite Reihe Beginn-->
    <div class="row row-cols-1 row-cols-md-2 g-4">

        <!--Softskills Anfanfg-->
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Softskills

                        @if (SoftskillsCollapsed)
                        {
                            <svg @onclick="@SoftskillsToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>

                        }

                        @if (!SoftskillsCollapsed)
                        {
                            <svg @onclick="@SoftskillsToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }

                    </h4>
                </div>

                @if (!SoftskillsCollapsed)
                {

                    <div class="card-body scroll h-100">
                        <p>
                            Interdisziplinärer Sachverstand
                        </p>
                        <p> Kommunikationsfähigkeit</p>
                        <p> Soziale Kompetenz</p>
                        <p> Problemlösungsfähigkeit</p>
                        <p> Überzeugungskraft</p>
                        <p> Methodische und strukturierte Vorgehensweise</p>
                        <p>Interkulturelle Kompetenz
                        </p>
                        <p>Mitarbeiterförderung </p>
                        <p>Ganzheitliches Denken </p>
                        <p> Innovationsfreudigkeit</p>

                    </div>
                }

            </div>
        </div>
        <!--Softskills Ende-->

        <br />
        <br />

        <!--Branchenwissen Anfang-->
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Tätigkeitsfelder

                        @if (BranchenwissenCollapsed)
                        {
                            <svg @onclick="@BranchenwissenToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>
                        }

                        @if (!BranchenwissenCollapsed)
                        {
                            <svg @onclick="@BranchenwissenToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }

                    </h4>
                </div>

                @if (!BranchenwissenCollapsed)
                {

                    <div class="card-body scroll h-100">
                        <p>
                            Architektur/Bau/Immobilien
                            
                            
                        </p>
                        <p> Automobil</p>
                        <p> Banken/Finanzsektor/Versicherung</p>
                    </div>
                }

            </div>
        </div>
        <!--Branchenwissen Ende-->
    </div>
    <!--Zweite Reihe Ende-->

    <br />
    <br />

    <!--Dritte Reihe Beginn-->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <!--Sprachen Anfang-->
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Sprachen

                        @if (SprachenCollapsed)
                        {
                            <svg @onclick="@SprachenToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>
                        }

                        @if (!SprachenCollapsed)
                        {
                            <svg @onclick="@SprachenToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }
                    </h4>
                </div>

                @if (!SprachenCollapsed)
                {

                    <div class="card-body scroll h-100">
                        <p> Deutsch </p>
                        <div class="progress mb-3" style="height:15px">
                            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100" style="width:75%">
                                lvl3
                            </div>
                        </div>

                        <p> Englisch</p>
                        <div class="progress mb-3" style="height:15px">
                            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100" style="width:75%">
                                lvl3
                            </div>
                        </div>

                        <p> Türkisch </p>
                        <div class="progress mb-3" style="height:15px">
                            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100" style="width:75%">
                                lvl3
                            </div>
                        </div>

                        <p> Italienisch </p>
                        <div class="progress mb-3" style="height:15px">
                            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100" style="width:75%">
                                lvl3
                            </div>
                        </div>

                        <p> Spanisch </p>
                        <div class="progress mb-3" style="height:15px">
                            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100" style="width:75%">
                                lvl3
                            </div>
                        </div>

                        <p> Russisch </p>
                        <div class="progress mb-3" style="height:15px">
                            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100" style="width:75%">
                                lvl3
                            </div>
                        </div>

                    </div>
                }

            </div>
        </div>
        <!--Sprachen Ende-->
        <!--Projekte Anfang-->
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Projekte

                        @if (ProjektCollapsed)
                        {
                            <svg @onclick="@ProjektToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                 height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>
                        }

                        @if (!ProjektCollapsed)
                        {
                            <svg @onclick="@ProjektToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                 height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }
                    </h4>
                </div>

                @if (!ProjektCollapsed)
                {
                    <div class="card-body scroll h-100">
                        <table class="table table-hover">
                            <tr>
                                <th>Projektname</th>
                                <th>Tätigkeit</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>Siemens</td>
                                <td>Projektleiter</td>
                                <td><a class="text-secondary" href="project">Details</a></td>
                            </tr>
                            <tr>
                                <td>Xitaso</td>
                                <td>UI-Design</td>
                                <td><a class="text-secondary" href="project">Details</a></td>
                            </tr>
                            <tr>
                                <td>BMW</td>
                                <td>SQL-Server</td>
                                <td><a class="text-secondary" href="project">Details</a></td>
                            </tr>
                        </table>
                    </div>
                }

            </div>
        </div>
        <!--Projekte Ende-->
    </div>
    <!--Dritte Reihe Ende-->
</div>
<a href="my-profile-edittt" class="btn btn-secondary" style="float: right; margin: 3em 1em"> Bearbeiten</a>



@code {
    public bool HardskillsCollapsed { get; set; }
    public bool SoftskillsCollapsed { get; set; }
    public bool RolleCollapsed { get; set; }
    public bool BranchenwissenCollapsed { get; set; }
    public bool SprachenCollapsed { get; set; }
    public bool ProjektCollapsed { get; set; }
    void RolleToggle()
    {
        RolleCollapsed = !RolleCollapsed;
    }
    void HardskillsToggle()
    {
        HardskillsCollapsed = !HardskillsCollapsed;
    }
    void SoftskillsToggle()
    {
        SoftskillsCollapsed = !SoftskillsCollapsed;
    }
    void BranchenwissenToggle()
    {
        BranchenwissenCollapsed = !BranchenwissenCollapsed;
    }
    void SprachenToggle()
    {
        SprachenCollapsed = !SprachenCollapsed;
    }
    void ProjektToggle()
    {
        ProjektCollapsed = !ProjektCollapsed;
    }
}