@page "/mitarbeitendenübersicht"

@using Team14.Data

<body>
    <div class="jumbotron text-center">
        <h1>Mitarbeitendenübersicht</h1>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                        @mitarbeiter1.Vorname
                        @mitarbeiter1.Nachname
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                Geburtsdatum
                            </div>
                            <div class="col-sm">
                                @mitarbeiter1.Geburtsdatum.ToString("dd.MM.yyyy")
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm">
                                Projekte
                            </div>
                            <div class="col-sm">
                                @foreach (var item in mitarbeiter1.Projekte)
                                {
                                    @item <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                        @mitarbeiter3.Vorname
                        @mitarbeiter3.Nachname
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                Geburtsdatum
                            </div>
                            <div class="col-sm">
                                @mitarbeiter3.Geburtsdatum.ToString("dd.MM.yyyy")
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm">
                                Projekte
                            </div>
                            <div class="col-sm">
                                @foreach (var item in mitarbeiter3.Projekte)
                                {
                                    @item <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                        @mitarbeiter2.Vorname
                        @mitarbeiter2.Nachname
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                Geburtsdatum
                            </div>
                            <div class="col-sm">
                                @mitarbeiter2.Geburtsdatum.ToString("dd.MM.yyyy")
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm">
                                Projekte
                            </div>
                            <div class="col-sm">
                                @foreach (var item in mitarbeiter2.Projekte)
                                {
                                    @item <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">

            <div class="col-sm-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                        @mitarbeiter4.Vorname
                        @mitarbeiter4.Nachname
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                Geburtsdatum
                            </div>
                            <div class="col-sm">
                                @mitarbeiter4.Geburtsdatum.ToString("dd.MM.yyyy")
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm">
                                Projekte
                            </div>
                            <div class="col-sm">
                                @foreach (var item in mitarbeiter4.Projekte)
                                {
                                    @item <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                        @mitarbeiter6.Vorname
                        @mitarbeiter6.Nachname
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                Geburtsdatum
                            </div>
                            <div class="col-sm">
                                @mitarbeiter6.Geburtsdatum.ToString("dd.MM.yyyy")
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm">
                                Projekte
                            </div>
                            <div class="col-sm">
                                @foreach (var item in mitarbeiter6.Projekte)
                                {
                                    @item <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                        @mitarbeiter5.Vorname
                        @mitarbeiter5.Nachname
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                Geburtsdatum
                            </div>
                            <div class="col-sm">
                                @mitarbeiter5.Geburtsdatum.ToString("dd.MM.yyyy")
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm">
                                Projekte
                            </div>
                            <div class="col-sm">
                                @foreach (var item in mitarbeiter5.Projekte)
                                {
                                    @item <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</body>

@code {
    Employee mitarbeiter1 = new Employee()
    {
        Vorname = "Moritz",
        Nachname = "Boche",
        Geburtsdatum = new DateTime(1998, 02, 26),
        Projekte = new List<string> { "SoPro", "Projekt A" }
    };

    Employee mitarbeiter2 = new Employee()
    {
        Vorname = "Fabian",
        Nachname = "Günaydin",
        Geburtsdatum = new DateTime(2001, 06, 22),
        Projekte = new List<string> { "SoPro", "Projekt C" }
    };

    Employee mitarbeiter3 = new Employee()
    {
        Vorname = "Brigitte",
        Nachname = "Glogger",
        Geburtsdatum = new DateTime(2000, 01, 01),
        Projekte = new List<string> { "SoPro", "Projekt B" }
    };

    Employee mitarbeiter4 = new Employee()
    {
        Vorname = "Jonathan",
        Nachname = "Leis",
        Geburtsdatum = new DateTime(2000, 01, 01),
        Projekte = new List<string> { "SoPro", "Projekt D" }
    };

    Employee mitarbeiter5 = new Employee()
    {
        Vorname = "Philipp",
        Nachname = "Wagner",
        Geburtsdatum = new DateTime(2000, 01, 01),
        Projekte = new List<string> { "SoPro", "Projekt F" }
    };

    Employee mitarbeiter6 = new Employee()
    {
        Vorname = "Mario",
        Nachname = "Melle",
        Geburtsdatum = new DateTime(2001, 01, 01),
        Projekte = new List<string> { "SoPro", "Projekt E" }
    };
}