@page "/project-add"
@attribute [Authorize(Roles = "sales, admin")]


<div class="container">
    <!--/project/ edit &lt;project-name&gt;-->

    <div class="card my-1">
        <div class="card-header">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5">
                        <h3><label>Projekttitel: </label> </h3>
                    </div>
                    <div class="col">
                        <h3><input class="form-control" placeholder="Projekt A" /></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">        
        <div class="col">
            <div class="card">

                <div class="card-header">
                    <h4>
                        Branche
                        @if (BrancheCollapsed)
                        {
                            <svg @onclick="@BrancheToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                 height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>
                        }
                        @if (!BrancheCollapsed)
                        {
                            <svg @onclick="@BrancheToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                 height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }
                    </h4>

                </div>
                @if (!BrancheCollapsed)
                {


<div class="card-body">
                        @foreach (Field branche in branchen) {
                        <div class="col">
                            <input type="checkbox" value="" />
                            <label class="form-check-label"> @branche.Name</label>
                        </div>
                        }
    <!--
                        <div class="col">
                            <input type="checkbox" value="" />
                            <label class="form-check-label"> Automobil</label>
                        </div>
                        <div class="col">
                            <input type="checkbox" value="" />
                            <label class="form-check-label"> Banken/Finanzierung/Versicherung</label>
                        </div>
                        <div class="col">

                            <input type="checkbox" value="" />
                            <label class="form-check-label"> Chemie</label>
                        </div>
                        <div class="col">

                            <input type="checkbox" value="" />
                            <label class="form-check-label"> Medizin</label>
                        </div>
                        <div class="col">
                            <input type="checkbox" value="" />
                            <label class="form-check-label"> Metallbau</label>
                        </div>
                    -->
                    </div>
                }
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">

                    <h4>
                        Laufzeit
                        @if (LaufzeitCollapsed)
                        {
                            <svg @onclick="@LaufzeitToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>
                        }
                        @if (!LaufzeitCollapsed)
                        {
                            <svg @onclick="@LaufzeitToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }
                    </h4>
                </div>
                @if (!LaufzeitCollapsed)
                {
                    <div class="card-body">
                        <div class="col">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <p><label>Start: </label> </p>
                                    </div>
                                    <div class="col">
                                        <p><input class="form-control" type="date" placeholder=@start /></p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <p><label>Dauer: </label> </p>
                                    </div>
                                    <div class="col">
                                        <p><input class="form-control" placeholder="X" />Monate</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                }




            </div>
        </div>
    </div>


        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">

                    <div class="card-header">
                        <h4>
                            Projektbeschreibung

                            @if (BeschreibungCollapsed)
                            {
                                <svg @onclick="@BeschreibungToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                     width="24" height="24">
                                    <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                    </path>
                                </svg>

                            }

                            @if (!BeschreibungCollapsed)
                            {
                                <svg @onclick="@BeschreibungToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                     width="24" height="24">
                                    <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                    </path>
                                </svg>
                            }

                        </h4>

                    </div>
                    @if (!BeschreibungCollapsed)
                    {
                        <div class="card-body">
                            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="8">
@description
                </textarea>
                        </div>
                    }





                </div>

            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            Projektzweck

                            @if (ZweckCollapsed)
                            {
                                <svg @onclick="@ZweckToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                     width="24" height="24">
                                    <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                    </path>
                                </svg>

                            }

                            @if (!ZweckCollapsed)
                            {
                                <svg @onclick="@ZweckToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                     width="24" height="24">
                                    <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                    </path>
                                </svg>
                            }

                        </h4>
                    </div>

                    @if (!ZweckCollapsed)
                    {
                        <div class="card-body scroll h-100">
                            <div class="card-body ">
                                <b><label for="Projektzweck 1">Projektzweck 1</label></b>
                                <input type="text" class="form-control" style="width: 400px;"
                                       placeholder="Zweck eingeben" />
                                <p></p>
                                
                            </div>
                        </div>}
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            Projekttätigkeit

                            @if (TaetigkeitCollapsed)
                            {
                                <svg @onclick="@TaetigkeitToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                     width="24" height="24">
                                    <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                    </path>
                                </svg>

                            }

                            @if (!TaetigkeitCollapsed)
                            {
                                <svg @onclick="@TaetigkeitToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                     width="24" height="24">
                                    <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                    </path>
                                </svg>
                            }

                        </h4>
                    </div>

                    @if (!TaetigkeitCollapsed)
                    {
                        <div class="card-body scroll h-100">
                            <div class="card-body ">
                                <b><label for="Projektzweck 1">Projekttätigkeit 1</label></b>
                                <input type="text" class="form-control" style="width: 400px;"
                                       placeholder="Projekttätigkeit hier eingeben" />
                                <p></p>
                                
                            </div>
                        </div>}
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            Mitarbeiter

                            @if (MitarbeiterCollapsed)
                            {
                                <svg @onclick="@MitarbeiterToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                     width="24" height="24">
                                    <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                    </path>
                                </svg>

                            }

                            @if (!MitarbeiterCollapsed)
                            {
                                <svg @onclick="@MitarbeiterToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                     width="24" height="24">
                                    <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                    </path>
                                </svg>
                            }

                        </h4>
                    </div>

                    @if (!MitarbeiterCollapsed)
                    {
                        <div class="card-body scroll h-100">
                            <div class="row">
                                <div class="card">
                                    <div class="card-header">
                                        Mitarbeiter A
                                    </div>
                                    <div class="card-body">
                                        <a href="offer-one-maan-edit" style="color:black">Profil anzeigen</a>

                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        Mitarbeiter B
                                    </div>
                                    <div class="card-body">
                                        <a href="offer-one-maan-edit" style="color:black"> Profil anzeigen</a>

                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        Mitarbeiter C
                                    </div>
                                    <div class="card-body">
                                        <a href="offer-one-maan-edit" style="color:black">Profil anzeigen</a>

                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        Mitarbeiter D
                                    </div>
                                    <div class="card-body">
                                        <a href="offer-one-maan-edit" style="color:black">Profil anzeigen</a>

                                    </div>
                                </div>

                            </div>
                            <button type="button" class="btn btn-secondary" style=" float:right; margin: 3em 1em">
                                Löschen
                            </button>
                            <a href="offer-search-add" class="btn btn-secondary" style="float:right; margin: 3em 1em">
                                Hinzufügen
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>


    



    <a href="project" class="btn btn-secondary" style=" float: right; margin: 3em 1em"> Speichern </a>
    <a href="project" class="btn btn-secondary" style="float:right; margin: 3em 1em"> Abbrechen </a>

</div>



@code {

        List<Field> branchen = new List<Field>() { new Field() { Name = "Automobil" }, new Field() { Name = "Chemie" }, new Field() { Name = "Medizin" } };
        string start = "27.06.2021";
        string description = "Bitte hier die Projektbeschreibung eintragen";
        List<string> zwecke = new List<string>(){};

    public bool BeschreibungCollapsed { get; set; }
    public bool ZweckCollapsed { get; set; }
    public bool MitarbeiterCollapsed { get; set; }
    public bool TaetigkeitCollapsed { get; set; }
    public bool BrancheCollapsed { get; set; }
    public bool LaufzeitCollapsed { get; set; }

    void BeschreibungToggle()
    {
        BeschreibungCollapsed = !BeschreibungCollapsed;
    }
    void ZweckToggle()
    {
        ZweckCollapsed = !ZweckCollapsed;
    }
    void MitarbeiterToggle()
    {
        MitarbeiterCollapsed = !MitarbeiterCollapsed;
    }
    void TaetigkeitToggle()
    {
        TaetigkeitCollapsed = !TaetigkeitCollapsed;
    }
    void BrancheToggle()
    {
        BrancheCollapsed = !BrancheCollapsed;
    }
    void LaufzeitToggle()
    {
        LaufzeitCollapsed = !LaufzeitCollapsed;
    }
}


<!--<div class="card">
        <div class="card-header">
            <h4>
                Projektbeschreibung
                @if (BeschreibungCollapsed)
                {
                    <svg @onclick="@BeschreibungToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                        </path>
                    </svg>
                }
                @if (!BeschreibungCollapsed)
                {
                    <svg @onclick="@BeschreibungToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                        </path>
                    </svg>
                }
            </h4>
        </div>

        @if (!BeschreibungCollapsed)
        {
            <div class="card-body">
                <div class="form-group">
                    <textarea class="form-control"></textarea>
                </div>
            </div>}
    </div>
    <div class="card">
        <div class="card-header">
            <h4>
                Projektzwecke
                @if (ZweckCollapsed)
                {
                    <svg @onclick="@ZweckToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                        </path>
                    </svg>
                }
                @if (!ZweckCollapsed)
                {
                    <svg @onclick="@ZweckToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                        </path>
                    </svg>
                }
            </h4>
        </div>

        @if (!ZweckCollapsed)
        {
            <div class="card-body">
                <ul>
                    <li>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p><label>Zweck: </label> </p>
                                </div>
                                <div class="col">
                                    <p><input placeholder="Zweck 1" /></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p><label>Zweck: </label> </p>
                                </div>
                                <div class="col">
                                    <p><input placeholder="Zweck 2" /></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p><label>Zweck: </label> </p>
                                </div>
                                <div class="col">
                                    <p><input placeholder="Zweck 3" /></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>}
    </div>
    <div class="card">
        <div class="card-header">
            <h4>
                Projekttätigkeiten
                @if (TaetigkeitCollapsed)
                {
                    <svg @onclick="@TaetigkeitToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                        </path>
                    </svg>
                }
                @if (!TaetigkeitCollapsed)
                {
                    <svg @onclick="@TaetigkeitToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                        </path>
                    </svg>
                }
            </h4>
        </div>

        @if (!TaetigkeitCollapsed)
        {
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <input type="checkbox" value="" />
                        <label class="form-check-label"> Tätigkeit 1</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="checkbox" value="" />
                        <label class="form-check-label"> Tätigkeit 2</label>
                    </div>

                    <div class="col-sm-3">
                        <input type="checkbox" value="" />
                        <label class="form-check-label"> Tätigkeit 3</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="checkbox" value="" />
                        <label class="form-check-label"> Tätigkeit 4</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input type="checkbox" value="" />
                        <label class="form-check-label"> Tätigkeit 5</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="checkbox" value="" />
                        <label class="form-check-label"> Tätigkeit 6</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="checkbox" value="" />
                        <label class="form-check-label"> Tätigkeit 7</label>
                    </div>
                </div>
            </div>}
    </div>
    <div class="card">
        <div class="card-header">
            <h4>
                Mitarbeiter
                @if (MitarbeiterCollapsed)
                {
                    <svg @onclick="@MitarbeiterToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                        </path>
                    </svg>
                }
                @if (!MitarbeiterCollapsed)
                {
                    <svg @onclick="@MitarbeiterToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                        </path>
                    </svg>
                }
            </h4>
        </div>

        @if (!MitarbeiterCollapsed)
        {
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-5">
                        Mitarbeiter A
                    </div>
                    <div class="col-sm-5">
                        Funktion
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        Mitarbeiter B
                    </div>
                    <div class="col-sm-5">
                        Funktion B
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        Mitarbeiter C
                    </div>
                    <div class="col-sm-5">
                        Funktion C
                    </div>
                </div>

                <a href="" class="btn btn-secondary" style=" float: right; margin: 3em 1em"> Entfernen </a>
                <a href="suche" class="btn btn-secondary" style="float:right; margin: 3em 1em"> Hinzufügen </a>
            </div>}
    </div>-->
