@page "/my-projects"
@attribute [Authorize]

@inject CustomAuthentiProvider authentiProvider
@inject IProfileService profileService
@inject IProjectService projectService


<div class="container-fluid">

    <div class="card my-1">
        <div class="card-header text-center">
            <h3>Meine Projekte</h3>
        </div>
    </div>
    <br />

    <br />


    <input class="form-control" id="myInput" placeholder="Nach Projektstitel suchen" @bind="@searchTitle" @bind:event="oninput">
    <table id="myTable">
        <div class="row gutters-sm">
            @{var projects = (searchTitle == "") ? myProjects : myProjects.Where(pro => pro.Title.ToLower().StartsWith(searchTitle.ToLower()));}
            @foreach (var project in projects.OrderBy(pro => pro.Title))
            {
                <div class="col mb-3">
                    <tr>
                        <div class="card scroll" style="width:450px; height:300px;">
                            <div class="card-header">
                                <h4>
                                    <a style="color: #7A212E;" href="project/@project.Id">@project.Title</a>

                                </h4>
                            </div>
                            <div class="card-body">
                                <p class="text-secondary"><b>Projektzwecke:</b></p>

                                <p class="text-secondary">
                                    <ul>
            @foreach (string purpose in @project.Purpose.Take(3))
            {
                <li>  @purpose </li>  }</ul>
                                   
                                </p>
                                

                                <p class="text-secondary"> @project.Start.ToString("dd.MM.yyyy") - @project.End.ToString("dd.MM.yyyy")</p>
                                <a href="project/@project.Id" class="btn btn-secondary" type="submit"> Anzeigen </a>
                                <a href="javascript:location.reload(true)" class="btn btn-secondary" @onclick="(e => DeleteProject(project))">Entfernen</a>
                            </div>
                            </div>
                    </tr>
                </div>}
        </div>
    </table>

</div>



