@page "/project"
@attribute [Authorize(Roles = "sales, admin")]

@namespace XCV.Data

<div class="container-fluid">



    <div class="card my-1">
        <div class="card-header">
            <h3> @project.Title </h3>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>
                Projektbeschreibung
                @if (BeschreibungCollapsed)
                {
                <svg @onclick="@BeschreibungToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                    </path>
                </svg>
                }
                @if (!BeschreibungCollapsed)
                {
                <svg @onclick="@BeschreibungToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                    </path>
                </svg>
                }
            </h4>
        </div>

        @if (!BeschreibungCollapsed)
        {
        <div class="card-body scroll h-100">
            <p> <b>Titel:</b> @project.Title</p>
            <p><b>Laufzeit:</b>@project.Start.ToString("dd.MM.yyyy") - @project.End.ToString("dd.MM.yyyy")</p>
            <p><b>Branchen:</b> <ul>@foreach (Field branche in project.Fields) { <li>@branche.Name</li>}</ul></p>
            <p>@project.Description</p>
        </div>}
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Projektzwecke
                        @if (ZweckCollapsed)
                        {
                        <svg @onclick="@ZweckToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                            </path>
                        </svg>
                        }
                        @if (!ZweckCollapsed)
                        {
                        <svg @onclick="@ZweckToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                            </path>
                        </svg>
                        }
                    </h4>
                </div>


                @if (!ZweckCollapsed)
                {
                <div class="card-body scroll h-100">
                    <div class="card-body">
                        <ul>
                            @foreach (string purpose in @project.Purpose)
                            {
                            <li>@purpose</li>
                            }
                        </ul>
                    </div>

                </div>}
            </div>
        </div>
        

        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Projekttätigkeiten
                        @if (TaetigkeitCollapsed)
                        {
                        <svg @onclick="@TaetigkeitToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                            </path>
                        </svg>
                        }
                        @if (!TaetigkeitCollapsed)
                        {
                        <svg @onclick="@TaetigkeitToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                            </path>
                        </svg>
                        }
                    </h4>
                </div>

                @if (!TaetigkeitCollapsed)
                {
                <div class="card-body scroll h-100">
                    <div class="card-body">
                        
                        <ul>@foreach(KeyValuePair<string, IEnumerable<Skill>> activity in project.Activities)
                        {
                            <li>@activity.Key</li>
                        }
                        </ul>
                    </div>

                </div>}
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Mitarbeiter
                        @if (MitarbeiterCollapsed)
                        {
                        <svg @onclick="@MitarbeiterToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                            </path>
                        </svg>
                        }
                        @if (!MitarbeiterCollapsed)
                        {
                        <svg @onclick="@MitarbeiterToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                            </path>
                        </svg>
                        }
                    </h4>
                </div>

                @if (!MitarbeiterCollapsed)
                {
                <div class="card-body scroll h-100">
                    <div class="row">
                        @foreach (KeyValuePair<Employee, IEnumerable<string>> employee in project.HasDone)
                        {
                        <div class="card">
                            <div class="card-header">
                                @employee.Key.FirstName @employee.Key.LastName
                            </div>
                            <div class="card-body">
                                <a href="/document-config-edit" style="color:black">Profil anzeigen</a>

                            </div>
                        </div>
                        }
                        <!--
                        <div class="card">
                            <div class="card-header">
                                Mitarbeiter B
                            </div>
                            <div class="card-body">
                                <a href="/document-config-edit" style="color:black">Profil anzeigen</a>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                Mitarbeiter C
                            </div>
                            <div class="card-body">
                                <a href="/document-config-edit" style="color:black">Profil anzeigen</a>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                Mitarbeiter D
                            </div>
                            <div class="card-body">
                                <a href="/document-config-edit" style="color:black">Profil anzeigen</a>

                            </div>
                        </div>
                            -->
                    </div>
                    <a href="project-search-add" class="btn btn-secondary" style="float:right; margin: 2em 1em"> Hinzufügen </a>

                </div>}
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-secondary" style=" float:right; margin: 3em 1em"> Löschen </button>
    <a href="project-edittt" class="btn btn-secondary" type="submit" style="float:right; margin: 3em 1em"> Bearbeiten </a>


</div>



@code {

        // Wertdefinition !!!Muss ausgetauscht werden mit Schnittstelle zum Backend!!!

        Project project = new Project() {HasDone = new Dictionary<Employee, IEnumerable<string>>() { { new Employee{FirstName = "Max", LastName = "Mayer"}, new List<string>() { "DUMMY"} }, { new Employee { FirstName = "Berta", LastName = "Besen" }, new List<string>() { "DUMMY" } } }, Activities = new Dictionary<string, IEnumerable<Skill>>() { { "Frontendentwicklung mit Angular", new List<Skill>() { new Skill() { Name = "DUMMY" } } }, { "Frontendentwicklung mit TypeScript", new List<Skill>() { new Skill() { Name = "DUMMY" } } } },Description = "Ziel ist es, die Siemens.de Homepage auf ein aktuelles, dem Jahr 2022 gerechten Stand zu bringen, mit den aktuellsten JavaScript und Boostrap Funktionen", Fields = new List<Field>() { new Field() { Name = "UI-Design" } },Title = "Siemens", Start = Convert.ToDateTime("05/22/2019"), End = Convert.ToDateTime("05/22/2022"), Purpose = new List<string>() { "Redesign der Siemens.de Homepage" } };

    // Wertdefinition !!!Muss ausgetauscht werden mit Schnittstelle zum Backend!!!

    public bool BeschreibungCollapsed { get; set; }
    public bool ZweckCollapsed { get; set; }
    public bool MitarbeiterCollapsed { get; set; }
    public bool TaetigkeitCollapsed { get; set; }

    void BeschreibungToggle()
    {
        BeschreibungCollapsed = !BeschreibungCollapsed;
    }
    void ZweckToggle()
    {
        ZweckCollapsed = !ZweckCollapsed;
    }
    void MitarbeiterToggle()
    {
        MitarbeiterCollapsed = !MitarbeiterCollapsed;
    }
    void TaetigkeitToggle()
    {
        TaetigkeitCollapsed = !TaetigkeitCollapsed;
    }
}
