@page "/offer-employee-detail-view/{Id:int}/{Config}/{PersoNumber}"
@page "/offer-employee-detail-view/{Id:int}/{PersoNumber}"
@attribute [Authorize(Roles = "sales, admin")]

@namespace XCV.Pages.OfferNamespace
@inject IOfferService offerService
@inject IConfigService configService
@inject IGenerateService generateService 
@inject IProfileService profileService
@inject IProjectService proService
@inject ISkillService skillService




    <div class="card my-1">
        <div class="card-header text-center">
            <h3>Mitarbeiterdetailansicht Übersicht von @offerEmployee.FirstName @offerEmployee.LastName </h3>
        </div>
        <div width="40" height="40">
            <style>
                .btn-secondary {
                    border-color: transparent;
                }
            </style>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h4> Beschreibung </h4>
        </div>

        <div class="row g-0">
            <div class="col-md-4">
                <img src="@offerEmployee.Image" alt="Profilbild" class="rounded" style="margin:1em; max-width:90%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@offerEmployee.FirstName &nbsp; @offerEmployee.LastName</h5>
                    <p class="card-text" style="min-height: 150px;">
                        <pre>@offerEmployee.Description</pre>
                    </p>
                    <p>Rate Card Level: @offerEmployee.offerRCL </p>
                    @{var yearsE = offerEmployee.Experience != null ? (float)(DateTime.Now.Subtract(offerEmployee.Experience.Value).Days) / 365 : 0;}
                    <p>Berufserfahrung: @(yearsE == 0 ? "noch nicht gesetzt" :  $"{yearsE.ToString("N2") }Jahre" ) </p>
                    <p><b>Rolle:</b> @offerEmployee.offerRole </p>

                </div>
            </div>
        </div>
    </div>

    <div class="row gutters-sm">
        <div class="col-sm-6 mb-3" style="min-height: 200px;">
            <CollapsibleCard CardHeaderTitle="Branchenwissen" ShowCardBody=true>
                <CardBody>
                    <div class="scroll">
                        @foreach (Field field in offerEmployee.Fields)
                        {
                            <p class="ml-2">@field <br></p>}
                    </div>
                </CardBody>
            </CollapsibleCard>
        </div>


        <div class="col-sm-6 mb-3" style="min-height: 200px;">
            <CollapsibleCard CardHeaderTitle="SoftSkills" ShowCardBody=true>
                <CardBody>
                    <div class="scroll">
                        @foreach (Skill sSkill in offerEmployee.Abilities.Where(x => x.Type == SkillGroup.Softskill))
                        {
                            <p class="ml-2"> @sSkill <br></p>}
                    </div>
                </CardBody>
            </CollapsibleCard>
        </div>

        <div class="col-sm-6 mb-3 " style="min-height: 200px;">
            <CollapsibleCard CardHeaderTitle="Hardskills" ShowCardBody=true>
                <CardBody>
                    <div class="scroll2">
                        @{ var hSkills = offerEmployee.Abilities.Where(x => x.Type == SkillGroup.Hardskill);
                            if (hSkills.Any())
                            {
                                var root = hSkills.First().Category.GetRoot();
                                var hRoot = (SkillCategory)(root.Children.First(x => x.Name == "HardSkills"));

                                foreach (SkillCategory topLevel in hRoot.Children)
                                {
                                    if (topLevel is SkillCategory toptCast && toptCast.Children.Any())
                                    {
                                        <CollapsibleCard CardHeaderTitle="@topLevel.Name" ShowCardBody=true SmallInner="true">
                                            <CardBody>
                                                @foreach (var cat in topLevel.Children)
                                                {
                                                    if (cat is Skill skill)
                                                    {
                                                        int lvlIndex = Array.FindIndex(skillService.GetAllLevel(), (x => x == skill.Level));
                                                        if (lvlIndex == 0)
                                                        {
                                                            <button class="btn btn-outline-secondary btn-sm" disabled>@skill </button> }
                                                        if (lvlIndex == 1)
                                                        {
                                                            <button class="btn btn-outline-dark btn-sm" disabled>@skill </button> }
                                                        if (lvlIndex == 2)
                                                        {
                                                            <button class="btn btn-outline-info btn-sm" disabled>@skill </button> }
                                                        if (lvlIndex == 3)
                                                        {
                                                            <button class="btn btn-outline-success btn-sm" disabled>@skill </button> }
                                                    }
                                                    if (cat is SkillCategory castCat && castCat.Children.Any())
                                                    {
                                                        <b>@castCat.Name</b>
                                                        <div>
                                                            @foreach (Skill skill2 in castCat.Children)
                                                            {
                                                                int lvlIndex = Array.FindIndex(skillService.GetAllLevel(), (x => x == skill2.Level));
                                                                if (lvlIndex == 0)
                                                                {
                                                                    <button class="btn btn-outline-secondary btn-sm" disabled>@skill2</button> }
                                                                if (lvlIndex == 1)
                                                                {
                                                                    <button class="btn btn-outline-dark btn-sm" disabled>@skill2</button> }
                                                                if (lvlIndex == 2)
                                                                {
                                                                    <button class="btn btn-outline-info btn-sm" disabled>@skill2</button> }
                                                                if (lvlIndex == 3)
                                                                {
                                                                    <button class="btn btn-outline-success btn-sm" disabled>@skill2</button>}
                                                            }
                                                        </div>}
                                                }
                                            </CardBody>
                                        </CollapsibleCard> }
                                }
                            } }
                    </div>
                </CardBody>
            </CollapsibleCard>
        </div>

        <div class="col-sm-6 mb-3" style="min-height: 200px;">
            <CollapsibleCard CardHeaderTitle="Projekte " ShowCardBody=true>
                <CardBody>
                    <div class="scroll2">
                        <table class="table table-bordered table-striped text-center">
                            <thead>
                                <tr>
                                    <th class="text-center">beteiligte Projekte</th>
                                    <th class="text-center">Tätigkeiten im Projekt</th>
                                </tr>
                            </thead>
                            @foreach (Project pro in proService.ShowAllProjects())
                            {
                                <tr>
                                    <td class="pt-3-half">
                                        @pro.Title
                                    </td>
                                    <td class="pt-3-half">
                                        @foreach (var keyValue in pro.Activities.Where(x => x.Value.persNr.Contains(offerEmployee.PersoNumber)))
                                        {
                                            @keyValue.Key
                                            <br>}
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </CardBody>
            </CollapsibleCard>
        </div>

    </div>






<button type="button" class="btn btn-secondary" style="float:right; margin: 3em 1em" @onclick=@(async () => await BlazorDownloadFileService.DownloadFile("Mitarbeiter.doc", generateService.GenerateSingleProfile(offerEmployee),"application/octet-stream"))>
    Download des Einzelprofils
</button>
@if (Config != null)
{
    <a href="offer-employee-config-edit/@Id/@Config/@PersoNumber" class="btn btn-secondary" style="float:right; margin: 3em 1em"> Dokumentenkonfiguration bearbeiten</a>
} else
{
    <button type="button" class="btn btn-secondary" style="float:right; margin: 3em 1em" @onclick="Notify"> Dokumentenkonfiguration bearbeiten</button>
}
<a href="offer/@Id" class="btn btn-secondary" style="float:right; margin: 3em 1em"> Zurück zum Angebot </a>

<Modal @ref="modal">
    <Title> Bitte wählen Sie eine Dokumentenkonfiguration aus</Title>
    <Body>
        <ul class="alert alert-danger" role="alert">
           Zur Bearbeitung einer Dokumentenkonfiguration ist es notwendig eine Konfiguration auszuwählen.
        </ul>
    </Body>
    <Footer>
        <a href="offer/@Id" class="btn btn-primary">Angebotsdetailansicht</a>
        <button type="button" class="btn btn-secondary" @onclick="@Close">abbrechen</button>
    </Footer>
</Modal>

@code
{
    // Einzelprofil downloaden
    [Inject] public IBlazorDownloadFileService BlazorDownloadFileService { get; set; }

    private Modal modal { get; set; }
    private void Notify() { modal.Open(); }
    private void Close() { modal.Close(); }

    [Parameter]
    public int Id { get; set; } // Of the parenting offer (identifies the parenting config in combination with PersoNumber below)
    [Parameter]
    public string Config { get; set; } // Used to identify the config which can be edited in the edit page with routing
    [Parameter]
    public string PersoNumber { get; set; }

    private ChangeResult changeInfo = new();
    private Offer offer;
    private Employee offerEmployee;


    protected override void OnInitialized()
    {
        offer = offerService.ShowOffer(Id);
        offerService.ChangeEventHandel += OnChangeReturn;
        offerEmployee = profileService.ShowProfile(PersoNumber) ?? new Employee();
        Employee temp = offerService.ShowOfferEmployee(Id, PersoNumber);
        offerEmployee.offerRole = temp.offerRole;
        offerEmployee.offerRCL = temp.offerRCL;
        offerEmployee.offerWage = temp.offerWage;
        offerEmployee.hoursPerDay = temp.hoursPerDay;
        offerEmployee.daysPerRun = temp.daysPerRun;
        offerEmployee.discount = temp.discount;
    }

    private void OnSelected(string selection)
    {
        Console.WriteLine(selection);
    }


    private void OnChangeReturn(object sender, ChangeResult e)
    {
        changeInfo = e;
    }

    public bool MitarbeiterCollapsed { get; set; }
    public bool HardskillsCollapsed { get; set; }
    public bool SoftskillsCollapsed { get; set; }
    public bool RolleCollapsed { get; set; }
    public bool BranchenwissenCollapsed { get; set; }
    public bool SprachenCollapsed { get; set; }
    public bool ProjektCollapsed { get; set; }

    void RolleToggle()
    {
        RolleCollapsed = !RolleCollapsed;
    }
    void HardskillsToggle()
    {
        HardskillsCollapsed = !HardskillsCollapsed;
    }
    void SoftskillsToggle()
    {
        SoftskillsCollapsed = !SoftskillsCollapsed;
    }
    void BranchenwissenToggle()
    {
        BranchenwissenCollapsed = !BranchenwissenCollapsed;
    }
    void SprachenToggle()
    {
        SprachenCollapsed = !SprachenCollapsed;
    }
    void ProjektToggle()
    {
        ProjektCollapsed = !ProjektCollapsed;
    }
    void MitarbeiterToggle()
    {
        MitarbeiterCollapsed = !MitarbeiterCollapsed;
    }
}