@page "/offers"
@attribute [Authorize]

@inject IJSRuntime JS
@inject IOfferService offerService
@inject ISkillService skillService 
@inject NavigationManager navManager
@namespace XCV.Pages.OfferNamespace

@using Blazored.Typeahead
@using System.Globalization;

<AuthorizeView Context="Usercontext" Roles="sales">
    <NotAuthorized>
        <strong>Nur der Vertrieb kann diese Seite anzeigen!</strong>
</NotAuthorized>

<Authorized>

    
       
    <div class="card my-1">
        <div class="card-header text-center" style="position: relative">
            <div style="position: absolute; margin-top: 0.4%;">
                <a href="offer-create" class="btn btn-secondary" style="float: left; padding: 0px; border-color: #7A212E;">
                    <i class="oi oi-plus" style="margin-right: 6px; margin-left: 6px"></i>
                </a>
            </div>
            <!--<a href="edit-profile" class="btn btn-secondary" style="float: left; "><i class="oi oi-cog"></i> 1Bearbeiten</a>
        <div style="position: absolute; margin-top: 0.1%;">
            <a href="edit-profile" class="btn btn-secondary oi oi-cog" style="border-color: #7A212E"> Bearbeiten</a>
        </div>-->
            <h3 style="text-align: center; display: inline; margin-left: 7%;">Angebotsübersicht</h3>
            <div style="position: relative; display: inline; float: right; margin-top: 0.4%;">
                <button class="btn btn-secondary oi oi-trash" style="float: right; padding: 4px; font-family: Arial, Helvetica, sans-serif, Icons; border-color: transparent;" @onclick="Validate">
                    <p style="display: inline;">Alle Löschen</p>
                </button>
            </div>
        </div>
    </div>

        <br>
        <style>
            .rounded {
                margin: unset;
            }
        </style>
        <button type="button" class="btn-secondary rounded" style="background-color: #5E6B7A; color: white; float:left;" @onclick="ShowResults">Filter anwenden </button>
        <div class="input-group w-100">
            <BlazoredTypeahead SearchMethod="SearchTitle"
                               @bind-Values="SelectedOffers"
                               EnableDropDown="true"
                               placeholder="Nach Angebotstitel suchen">
                <SelectedTemplate Context="aContext">
                    @aContext.Title
                </SelectedTemplate>
                <ResultTemplate Context="aContext">
                    @aContext.Title
                </ResultTemplate>
            </BlazoredTypeahead>
        </div>
        <div class="input-group w-100">
            <BlazoredTypeahead SearchMethod="SearchSoftskills"
                               @bind-Values="SelectedSoftskills"
                               EnableDropDown="true"
                               placeholder="Nach Softskills suchen">
                <SelectedTemplate Context="bContext">
                    @bContext.Name
                </SelectedTemplate>
                <ResultTemplate Context="bContext">
                    @bContext.Name
                </ResultTemplate>
            </BlazoredTypeahead>
        </div>
        <div class="input-group w-100">
            <BlazoredTypeahead SearchMethod="SearchHardskills"
                               @bind-Values="SelectedHardskills"
                               EnableDropDown="true"
                               placeholder="Nach Hardskills suchen">
                <SelectedTemplate Context="cContext">
                    @cContext.Name
                </SelectedTemplate>
                <ResultTemplate Context="cContext">
                    @cContext.Name
                </ResultTemplate>
            </BlazoredTypeahead>
        </div>
        <div class="input-group w-100">
            <BlazoredTypeahead SearchMethod="SearchFields"
                               @bind-Values="SelectedFields"
                               EnableDropDown="true"
                               placeholder="Nach Branchen suchen">
                <SelectedTemplate Context="dContext">
                    @dContext.Name
                </SelectedTemplate>
                <ResultTemplate Context="dContext">
                    @dContext.Name
                </ResultTemplate>
            </BlazoredTypeahead>
        </div>

        <br>
        @if (!showSearchResults)
        {
            @foreach (Offer o in offers.ToList())
            {
                <div class="col-sm-6 mb-3 " style=" display: inline-block; width: 50%">
                    @*<br />*@
                    <div class="card">
                        <div class="card-header">
                            <h4>
                                <a href="offer/@o.Id" style="color: #7A212E;">@o.Title</a>
                                @if (AngebotCCollapsed)
                                {
                                    <svg @onclick="@AngebotCToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                        <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                        </path>
                                    </svg>} @if (!AngebotCCollapsed)
                                {
                                    <svg @onclick="@AngebotCToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                        <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                        </path>
                                    </svg>}
                                    @{ var list = new List<string> { "", "", "" }; }
                                    <DropDown TItem="string" OnSelected="@OnSelected">
                                        @*<InitialTip> Text </InitialTip>*@
                                        <ChildContent>
                                            <DropdownListitem Item="@list[0]"> <a href="offer/@o.Id" class="btn btn-secondary"> Anzeigen</a> </DropdownListitem>
                                            <DropdownListitem Item="@list[2]"><a href="offer-edit/@o.Id" class="btn btn-secondary"> Bearbeiten</a></DropdownListitem>
                                            <DropdownListitem Item="@list[1]"><a href="javascript:location.reload(true)" class="btn btn-secondary" @onclick="(e => offerService.Copy(o))"> Kopieren </a></DropdownListitem>
                                            <DropdownListitem Item="@list[2]"><a href="javascript:location.reload(true)" class="btn btn-secondary" @onclick="(e =>  offerService.Delete(o))">Löschen</a></DropdownListitem>
                                        </ChildContent>
                                    </DropDown>
                                </h4>
                            </div>
                        
                        
                        <div class="card-body">
                            @if (!AngebotCCollapsed)
                            {

                                <div class="row">
                                    @if (o.Title.Length != 0)
                                    {
                                        <div class="col-sm-4">
                                            Titel: @o.Title
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-4">
                                            Titel: -
                                        </div>
                                    }
                                    <div class="col-sm-4">
                                        Von: @(o.Start.ToString("d", CultureInfo.CreateSpecificCulture("de-DE")))
                                    </div>
                                    <div class="col-sm-4">
                                        Bis: @(o.End.ToString("d", CultureInfo.CreateSpecificCulture("de-DE")))
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    @if (o.Description.Length != 0)
                                    {
                                        <div class="col-sm-4">
                                            Beschreibung:
                                        </div>
                                        <div class="col-sm-4 card-text scroll">
                                            @o.Description
                                        </div> }
                                    else
                                    {
                                        <div class="col-sm-4">
                                            <br />
                                        </div>}
                                </div>
                            }
                        </div>
                        @*<br />*@
                    </div>
                    </div>
                }
        }
        else
        {
            @foreach (Offer o in resultingOffers)
            {
                <div class="col-sm-6 mb-3 " style=" display: inline-block; width: 50%">
                    @*<br />*@
                    <div class="card  ">
                        <div class="card-header">
                            <h4>
                                <a href="offer/@o.Id" style="color: #7A212E;">@o.Title</a>
                                @if (AngebotCCollapsed)
                                {
                                    <svg @onclick="@AngebotCToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                        <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                        </path>
                                    </svg>} @if (!AngebotCCollapsed)
                                {
                                    <svg @onclick="@AngebotCToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                        <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                        </path>
                                    </svg>}
                                    @{ var list = new List<string> { "", "", "" }; }
                                    <DropDown TItem="string" OnSelected="@OnSelected">
                                        @*<InitialTip> Text </InitialTip>*@
                                        <ChildContent>
                                            <DropdownListitem Item="@list[0]"> <a href="offer/@o.Id" class="btn btn-secondary"> Anzeigen</a> </DropdownListitem>
                                            <DropdownListitem Item="@list[2]"><a href="offer-edit/@o.Id" class="btn btn-secondary"> Bearbeiten</a></DropdownListitem>
                                            <DropdownListitem Item="@list[1]"><a href="javascript:location.reload(true)" class="btn btn-secondary" @onclick="(e => offerService.Copy(o))"> Kopieren </a></DropdownListitem>
                                            <DropdownListitem Item="@list[2]"><a href="javascript:location.reload(true)" class="btn btn-secondary" @onclick="(e =>  offerService.Delete(o))">Löschen</a></DropdownListitem>
                                        </ChildContent>
                                    </DropDown>
                                </h4>
                            </div>
                        
                        
                        <div class="card-body ">
                            @if (!AngebotCCollapsed)
                            {

                                <div class="row">
                                    @if (o.Title.Length != 0)
                                    {
                                        <div class="col-sm-4">
                                            Titel: @o.Title
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-4">
                                            Titel: -
                                        </div>
                                    }
                                    <div class="col-sm-4">
                                        Von: @(o.Start.ToString("d", CultureInfo.CreateSpecificCulture("de-DE")))
                                    </div>
                                    <div class="col-sm-4">
                                        Bis: @(o.End.ToString("d", CultureInfo.CreateSpecificCulture("de-DE")))
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    @if (o.Description.Length != 0)
                                    {
                                        <div class="col-sm-4">
                                            Beschreibung:
                                        </div>
                                        <div class="col-sm-4 card-text scroll">
                                            @o.Description
                                        </div> }
                                    else
                                    {
                                        <div class="col-sm-4">
                                            <br />
                                        </div>}
                                </div>
                            }
                        </div>
                        </div>
                        @*<br />*@
                    </div>
                }
        }
    
    <a href="offers" class="btn btn-secondary oi oi-arrow-circle-top" style=" float: right; margin: 3em 1em"></a>
    </Authorized>
</AuthorizeView>

<Modal @ref="modal">
    <Title>Bei Bestätigung werden folgende Angebote gelöscht:</Title>

    <Body>
        <ul class="alert alert-danger" role="alert">
            @foreach (Offer o in offers)
            {
                <div class="scroll">
                    <pre >@o.Title</pre>
                </div>
            }
        </ul>
    </Body>
    <Footer>
        <a href="javascript:location.reload(true)" class="btn btn-primary" @onclick="@DeleteAll">Alle löschen</a>
        <button type="button" class="btn btn-secondary" @onclick="@Close">abbrechen</button>
    </Footer>
</Modal>