@page "/skill/edit/{Id}"
@page "/skill/edit"

@inject NavigationManager NavigationManager
@using Team14.Data
@inject ISkillService SkillService


<EditForm Model="@workingSkill" OnValidSubmit="@UpdateSkill">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label asp-for="SkillID" class="control-label"> Id</label>
        <input asp-for="SkillID" class="form-control" @bind="@workingSkill.SkillID" disabled>
    </div>
    <div class="form-group ">
        <label asp-for="Name" class="control-label">Name</label>
        <input asp-for="Name" class="form-control" @bind="@workingSkill.Name">
    </div>
    <div class="form-group ">
        <label asp-for="Skill.Catgeory" class="control-label">hi</label>
        <InputSelect @bind-Value="@workingSkill.Catgeory">
            @foreach (var value in Enum.GetValues(typeof(Skill.SkillCatgeory)))
            {
                <option value="@value">@value</option>
            }
        </InputSelect>
    </div>

    <button type="submit" class="btn btn-success">updaten</button>

</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }
    private Skill workingSkill;
    private Skill urlSkill;
    protected override void OnInitialized()
    {
        try
        {
            urlSkill = SkillService.GetSkill(Int32.Parse(Id));
            workingSkill = new Skill
            {
                SkillID = urlSkill.SkillID,
                Name = urlSkill.Name,
                Catgeory = urlSkill.Catgeory
            };
        }
        catch (Exception) { }
        if (urlSkill == null)
            workingSkill = new Skill
            {
                SkillID = GetFreeID(),
                Name = "Neuer",
                Catgeory = Skill.SkillCatgeory.Softskill
            };

        }

        protected void UpdateSkill()
        {
            SkillService.UpdateSkill(workingSkill);
            NavigationManager.NavigateTo("Skill"); 
        }
        protected int GetFreeID()
        {
            foreach (int i in Enumerable.Range(1, 100))
            {
                if (null == SkillService.GetSkill(i))
                    return i;
            }
            return 101;
        }


}
