@page "/project-create"
@attribute [Authorize(Roles = "sales, admin")]

@inject IProjectService projectService
@inject IProfileService profilService
@inject IFieldService fieldService
@inject ISkillService skillService

@inject NavigationManager navManager
   
@using Blazored.Typeahead



    <div class="card my-1">
        <div class="card-header">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5">
                        <h3><label>Projekttitel: </label> </h3>
                    </div>
                    <div class="col">
                        <h3><input class="form-control" placeholder="Titel" @bind-value="@newProject.Title" /></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4>
                Projektbeschreibung
                @if (BeschreibungCollapsed)
                {
                    <svg @onclick="@BeschreibungToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                         height="24">
                        <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                        </path>
                    </svg>
                }
                @if (!BeschreibungCollapsed)
                {
                    <svg @onclick="@BeschreibungToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                         height="24">
                        <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                        </path>
                    </svg>
                }
            </h4>
        </div>
        @if (!BeschreibungCollapsed)
        {
            <div class="card-body scroll2">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="start"> Start: </label>
                            <input class="form-control" type="date" id="start" @bind="newProject.Start" />
                        </div>
                        <div class="col">
                            <label for="end"> Ende: </label>
                            <input class="form-control" type="date" id="end" @bind="newProject.End" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="field"> Branche: </label>
                    <select class="form-control" id="field" @bind="@newProject.Field">
                        <option value="@emptyField"> @emptyField </option>
                        @foreach (var fields in allFields)
                        {
                            <option value="@fields"> @fields</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="description"> Beschreibung: </label>
                    <textarea class="form-control rounded-0" id=description rows="3" @bind="@newProject.Description"></textarea>
                </div>
            </div>
        }
    </div>
    
    <div class="row row-cols-1 row-cols-md-2 g-4">

        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Projektzweck

                        @if (ZweckCollapsed)
                        {
                            <svg @onclick="@ZweckToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>

                        }

                        @if (!ZweckCollapsed)
                        {
                            <svg @onclick="@ZweckToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }

                    </h4>
                </div>

                @if (!ZweckCollapsed)
                {
                    <div class="card-body scroll2">
                        <button type="button" id ="AddPurpose" class="btn btn-light btn-sm" @onclick="@NewPurpose">
                            <span class="oi oi-plus"></span>
                        </button>
                        <br />
                        <br />
                        @for (int i = 0; i < purposes.Count; i++)
                        {
                            int index = i;
                            <div class="row">
                                <div class="col-10">
                                    <input class="form-control" id="purpose @index" type="text" @bind-value="purposes[index]" placeholder="Zweck" />
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn btn-light btn-sm" @onclick="() => RemovePurpose(index)">
                                        <span class="oi oi-minus"></span>
                                    </button>
                                </div>
                            </div>
                            <br />
                        }
                    </div>}

            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Projekttätigkeit

                        @if (TaetigkeitCollapsed)
                        {
                            <svg @onclick="@TaetigkeitToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                                </path>
                            </svg>

                        }

                        @if (!TaetigkeitCollapsed)
                        {
                            <svg @onclick="@TaetigkeitToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="24" height="24">
                                <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                                </path>
                            </svg>
                        }

                    </h4>
                </div>

                @if (!TaetigkeitCollapsed)
                {
                    <div class="card-body scroll2">
                        <button type="button" class="btn btn-light btn-sm" @onclick="@NewActivity">
                            <span class="oi oi-plus"></span>
                        </button>
                        <br />
                        <br />
                        @for (int i = 0; i < activities.Count; i++)
                        {
                            int index = i;
                            <div class="row">
                                <div class="col-10">
                                    <input class="form-control" id="activity @index" type="text" @bind-value="@activities[index]" placeholder="Tätigkeit" />
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn btn-light btn-sm" @onclick="() => RemoveActivity(index)">
                                        <span class="oi oi-minus"></span>

                                    </button>
                                </div>
                            </div>
                            <br />
                        }
                    </div>}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4>
                Mitarbeiter und Skills

                @if (MitarbeiterCollapsed)
                {
                    <svg @onclick="@MitarbeiterToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                         width="24" height="24">
                        <path d="M11.646 15.146L5.854 9.354a.5.5 0 01.353-.854h11.586a.5.5 0 01.353.854l-5.793 5.792a.5.5 0 01-.707 0z">
                        </path>
                    </svg>

                }

                @if (!MitarbeiterCollapsed)
                {
                    <svg @onclick="@MitarbeiterToggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                         width="24" height="24">
                        <path d="M12.354 8.854l5.792 5.792a.5.5 0 01-.353.854H6.207a.5.5 0 01-.353-.854l5.792-5.792a.5.5 0 01.708 0z">
                        </path>
                    </svg>
                }

            </h4>
        </div>

        @if (!MitarbeiterCollapsed)
        {

            <div class="card-body scroll h-100">
                <div class="card">
                    <div class="card-header">
                        @withoutActivity
                        <button class="btn btn-secondary" @onclick="() =>Change(withoutActivity)" id="withoutActivity">
                            <span class="oi oi-plus"></span>
                        </button>
                    </div>
                    <div class="card-body">
                        @if (activityInfo.ContainsKey(withoutActivity))
                        {
                            <div class="row">
                                <div class="col-4">
                                    <b> MitarbeiterInnen</b>
                                    @foreach (var emp in activityInfo[withoutActivity].employees)
                                    {
                                        <div class="row">
                                            @emp.FirstName @emp.LastName
                                        </div>}

                                </div>
                                <div class="col-4">
                                    <b> Hardskills</b>
                                    @foreach (var skill in activityInfo[withoutActivity].requirements.Where(x => x.Type == SkillGroup.Hardskill))
                                    {
                                        <div class="row">
                                            @skill.Name (@skill.Category.Name)
                                        </div>}
                                </div>
                                <div class="col-4">
                                    <b>Softskills</b>
                                    @foreach (var skill in activityInfo[withoutActivity].requirements.Where(x => x.Type == SkillGroup.Softskill))
                                    {
                                        <div class="row">
                                            @skill.Name
                                        </div>}
                                </div>
                            </div>}
                    </div>
                </div>

                @foreach (var act in activities.Distinct().Where(x => x != ""))
                {
                    @if (!activityInfo.ContainsKey(act)) { activityInfo.Add(act, (new List<Employee>(), new List<Skill>())); }

                    <div class="card">
                        <div class="card-header">
                            <b>@act </b>
                            <button class="btn btn-secondary" @onclick="() =>Change(act)" id="@act">
                                <span class="oi oi-plus"></span>
                            </button>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-4">
                                    <b> MitarbeiterInnen</b>
                                    @foreach (var emp in activityInfo[act].employees)
                                    {
                                        <div class="row">
                                            @emp.FirstName @emp.LastName
                                        </div>}

                                </div>
                                <div class="col-4">
                                    <b> Hardskills</b>
                                    @foreach (var skill in activityInfo[act].requirements.Where(x => x.Type == SkillGroup.Hardskill))
                                    {
                                        <div class="row">
                                            @skill.Name (@skill.Category.Name)
                                        </div>}
                                </div>
                                <div class="col-4">
                                    <b>Softskills</b>
                                    @foreach (var skill in activityInfo[act].requirements.Where(x => x.Type == SkillGroup.Softskill))
                                    {
                                        <div class="row">
                                            @skill.Name
                                        </div>}
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        }
    </div>

    <Modal @ref="activityModal">
        <Title> Fügen Sie der Tätigkeit Mitarbeiter und Skills hinzu </Title>

        <Body>
            <BlazoredTypeahead SearchMethod="SearchEmployees"
                               @bind-Values="SelectedEmployees"
                               MaximumSuggestions="50"
                               EnableDropDown="true"
                               placeholder="Name">
                <SelectedTemplate>
                    @context.FirstName @context.LastName
                </SelectedTemplate>
                <ResultTemplate>
                    @context.FirstName @context.LastName
                </ResultTemplate>
            </BlazoredTypeahead>
            <br />
            <br />
            <BlazoredTypeahead SearchMethod="SearchHardskills"
                               @bind-Values="SelectedHardskills"
                               MaximumSuggestions="50"
                               EnableDropDown="true"
                               placeholder="Hardskill">
                <SelectedTemplate>
                    @context.Name (@context.Category.Name)
                </SelectedTemplate>
                <ResultTemplate>
                    @context.Name (@context.Category.Name)
                </ResultTemplate>
            </BlazoredTypeahead>
            <br />
            <br />
            <BlazoredTypeahead SearchMethod="SearchSoftskills"
                               @bind-Values="SelectedSoftskills"
                               MaximumSuggestions="50"
                               EnableDropDown="true"
                               placeholder="Softskill">
                <SelectedTemplate>
                    @context.Name
                </SelectedTemplate>
                <ResultTemplate>
                    @context.Name
                </ResultTemplate>
            </BlazoredTypeahead>

        </Body>
        <Footer>
            <button type="button" class="btn btn-secondary" @onclick="@Close">schließen</button>
            <button type="button" class="btn btn-secondary" @onclick="@Save">speichern</button>
        </Footer>
    </Modal>

    <Modal @ref="validationModal">
        <Title> Bitte beheben Sie folgende Fehler: </Title>
        <Body>
            <ul class="alert alert-danger" role="alert">
                @foreach (string line in changeInfo.ErrorMessages)
                {
                    <li>
                        <pre>@line</pre>
                    </li>
                }
            </ul>
        </Body>
        <Footer>
            <button type="button" class="btn btn-secondary" @onclick="@ValidationClose">schließen</button>
        </Footer>
    </Modal>

    <button type="button" class="btn btn-secondary" @onclick="@CreateProject" style="float:right; margin: 3em 1em"> Speichern </button>
    <a href="projects" class="btn btn-secondary" style="float:right; margin: 3em 1em"> Abbrechen </a>

