@page "/mitarbeiterübersicht"
@using Team14.Data
<head>
    <link rel="Stylesheet" href="css/card.css" type="text/css" />

</head>
<body>
    <h1>Mitarbeiterübersicht</h1>

    <div class="d-flex flex-row">
        <div class="p-2">

            <div class="card">
                <div class="card-body">


                    <p class="Überschrift">
                        @mitarbeiter1.Vorname @mitarbeiter1.Nachname
                    </p>
                    
                        
                    
                    <p>
                        @mitarbeiter1.Geburtstag.ToString("dd-MM-yyyy")
                    </p>
                    <p>


                        @foreach (var item in mitarbeiter1.Projekte)
                        {
                            <ul>
                                <li>  @item </li>

                            </ul>
                        }
                    </p>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card">
                <div class="card-body">


                    <p class="Überschrift">
                        @mitarbeiter2.Vorname @mitarbeiter2.Nachname
                    </p>
                    
                        
                    
                    <p>
                        @mitarbeiter2.Geburtstag.ToString("dd-MM-yyyy")
                    </p>
                    <p>
                        @foreach (var item in mitarbeiter2.Projekte)
                        {
                            <ul>
                                <li>  @item </li>

                            </ul>
                        }
                    </p>
                </div>
            </div>
        </div>
        <div class="p-2">

            <div class="card">
                <div class="card-body">


                    <p class="Überschrift">
                        @mitarbeiter3.Vorname @mitarbeiter3.Nachname
                    </p>
                    
                        
                    
                    <p>
                        @mitarbeiter3.Geburtstag.ToString("dd-MM-yyyy")
                    </p>
                    <p>
                        @foreach (var item in mitarbeiter3.Projekte)
                        {
                            <ul>
                                <li>  @item </li>

                            </ul>
                        }
                    </p>
                </div>
            </div>
        </div>
        <div class="p-2">

            <div class="card">
                <div class="card-body">


                    <p class="Überschrift">
                        @mitarbeiter4.Vorname @mitarbeiter4.Nachname
                    </p>
                    
                        
                   
                    <p>
                        @mitarbeiter4.Geburtstag.ToString("dd-MM-yyyy")
                    </p>
                    <p>
                        @foreach (var item in mitarbeiter4.Projekte)
                        {
                            <ul>
                                <li>  @item </li>

                            </ul>
                        }
                    </p>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card">
                <div class="card-body">


                    <p class="Überschrift">
                        @mitarbeiter5.Vorname @mitarbeiter5.Nachname
                    </p>
                    
                        
                    
                    <p>
                        @mitarbeiter5.Geburtstag.ToString("dd-MM-yyyy")
                    </p>
                    <p>
                        @foreach (var item in mitarbeiter5.Projekte)
                        {
                            <ul>
                                <li>  @item </li>

                            </ul>
                        }
                    </p>
                </div>
            </div>
        </div>
        <div class="p-2">

            <div class="card">
                <div class="card-body">


                    <p class="Überschrift">
                        @mitarbeiter6.Vorname @mitarbeiter6.Nachname
                    </p>
                    
                       
                    
                    <p>
                        @mitarbeiter6.Geburtstag.ToString("dd-MM-yyyy")
                    </p>
                    <p>
                        @foreach (var item in mitarbeiter6.Projekte)
                        {
                            <ul>
                                <li>  @item </li>

                            </ul>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>



@code {
    Employee mitarbeiter1 = new Employee()
    {
        Vorname = "Fabian",
        Nachname = "Günaydin",
        Geburtstag = new DateTime(2001, 06, 22),
        Projekte = new List<string> { "Siemens", "Xitaso"}
    };
    Employee mitarbeiter2 = new Employee()
    {
        Vorname = "Moritz",
        Nachname = "Boche",
        Geburtstag = new DateTime(1998, 02, 26).Date,
        Projekte = new List<string> { "Siemens","Xitaso" }
    };
    Employee mitarbeiter3 = new Employee()
    {
        Vorname = "Mario",
        Nachname = "Melle",
        Geburtstag = new DateTime(1998, 02, 26).Date,
        Projekte = new List<string> { "Siemens", "Xitaso" }
    };
    Employee mitarbeiter4 = new Employee()
    {
        Vorname = "Brigitte",
        Nachname = "Glogge",
        Geburtstag = new DateTime(1998, 02, 26).Date,
        Projekte = new List<string> { "Siemens", "Xitaso" }
    };
    Employee mitarbeiter5 = new Employee()
    {
        Vorname = "Jonathan",
        Nachname = "Leis",
        Geburtstag = new DateTime(1998, 02, 26).Date,
        Projekte = new List<string> { "Siemens", "Xitaso" }
    };
    Employee mitarbeiter6 = new Employee()
    {
        Vorname = "Philipp",
        Nachname = "Wagner",
        Geburtstag = new DateTime(1998, 02, 26),
        Projekte = new List<string> { "Siemens", "Xitaso" }
    };
}
